[Unit]
Description=Studio Grabber Telegram Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
# поправь под своего пользователя и путь
User=ubuntu
WorkingDirectory=/home/ubuntu/studio-grabber/studio-grabber-bot
ExecStart=/home/ubuntu/studio-grabber/studio-grabber-bot/.venv/bin/python bot.py
EnvironmentFile=/home/ubuntu/studio-grabber/studio-grabber-bot/.env
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
